<div class="relative group/dropdown">
	<button
		class="block w-10 h-10 rounded-full overflow-hidden border-2 border-blue-600 hover:border-blue-400 transition cursor-pointer">
		<% if (user.avatarUrl) { %>
			<img src="<%= user.avatarUrl %>" alt="Perfil" class="w-full h-full object-cover" />
			<% } else { %>
				<!-- SVG icono usuario simple -->
				<svg class="w-full h-full text-gray-400" fill="currentColor" viewBox="0 0 24 24">
					<path
						d="M12 12c2.7 0 4.8-2.1 4.8-4.8S14.7 2.4 12 2.4 7.2 4.5 7.2 7.2 9.3 12 12 12zm0 2.4c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2v-2.4c0-3.2-6.4-4.8-9.6-4.8z" />
				</svg>
				<% } %>
	</button>
	<ul
		class="hidden absolute z-1 right-1.5 group-hover/dropdown:block group-hover/dropdown:bg-blue-600 text-lg group-hover/dropdown:rounded-md py-2">
		<li class="text-nowrap hover:bg-blue-800 active:bg-blue-900 group-hover/dropdown:rounded-md">
			<a class="block px-4 py-2" href="/account">Account</a>
		</li>
		<li class="text-nowrap hover:bg-blue-800 active:bg-blue-900 group-hover/dropdown:rounded-md">
			<a class="block px-4 py-2" href="#">Settings</a>
		</li>
		<li class="text-nowrap hover:bg-blue-800 active:bg-blue-900 group-hover/dropdown:rounded-md">
			<a class="block px-4 py-2" href="/auth/log-out">Log out</a>
		</li>
	</ul>
</div>