<% var user=typeof user !=='undefined' ? user : null; %>

	<nav class="bg-gray-800 px-6 py-4 flex justify-between items-center shadow-md">
		<div class="flex items-center space-x-8">
			<a href="/" class="text-xl font-bold hover:text-blue-400 transition">PongGame</a>

			<% if (user) { %>
				<!-- Opciones para usuario logueado -->
				<ul class="hidden md:flex space-x-6 text-gray-300 items-center">
					<li><a href="/" class="hover:text-blue-400 transition">Home</a></li>
					<li><a href="/local" class="hover:text-blue-400 transition">Local</a></li>
					<li><a href="/multiplayer" class="hover:text-blue-400 transition">Multiplayer</a></li>
					<li><a href="/tournament" class="hover:text-blue-400 transition">Tournament</a></li>
					<li><a href="/ranking" class="hover:text-blue-400 transition">Ranking</a></li>
					<li><a href="/search" class="hover:text-blue-400 transition">Buscar usuarios</a></li>
				</ul>
				<% } else { %>
					<!-- Opciones para no logueado -->
					<ul class="hidden md:flex space-x-6 text-gray-300">
						<li><a href="/" class="hover:text-blue-400 transition">Home</a></li>
						<li><a href="/about" class="hover:text-blue-400 transition">About</a></li>
						<li><a href="/contact" class="hover:text-blue-400 transition">Contact</a></li>
					</ul>
					<% } %>
		</div>

		<!-- Estado usuario -->
		<div id="userState" class="flex items-center space-x-4">
			<% if (user) { %>
				<!-- Icono perfil (puedes cambiar el src por el de la imagen de perfil real) -->
				<%- include("dropdown.ejs") %>
				<span class="text-gray-300 hidden sm:inline">Hola, <strong>
						<%= user.username %>
					</strong>
				</span>

				<% } else { %>
					<a href="/auth/login"
						class="bg-blue-600 hover:bg-blue-700 active:bg-blue-900 px-4 py-2 rounded transition font-semibold">Log
						in</a>
					<% } %>
		</div>
	</nav>