@import "tailwindcss";

@theme {
	--animate-fade-out: fade-out 7s ease-out forwards;

	@keyframes fade-out {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
			display: none;
		}
	}
}

::selection {
  @apply bg-indigo-600 text-white;
}