<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<link rel="stylesheet" href="/styles/dist/output.css">
	<link rel="shortcut icon" href="/favicon/favicon.png" type="image/x-icon">
</head>

<body class="bg-gray-900 text-white min-h-screen flex flex-col">
	<%- include('components/navbar.ejs') %>
		<main class="flex p-2 gap-8">

			<section class="flex flex-col gap-3 flex-3/6 ml-[16.666%]">

				<article
					class="px-4 py-3 bg-gray-800 transition-shadow duration-500 hover:inset-ring hover:inset-ring-indigo-600/70 rounded-md">
					<h1 class="text-3xl font-extrabold underline underline-offset-3 decoration-2 text-center">Welcome
						back
						<span class="text-blue-500">
							<%= user.username %>
						</span>
					</h1>
					<p class="text-xl font-medium">Your latest alias was <span class="text-blue-500">Prueba</span></p>
				</article>

				<article
					class="px-4 py-3 bg-gray-800 transition-shadow duration-500 hover:inset-ring hover:inset-ring-indigo-600/70 rounded-md">
					<h1 class="text-3xl text-center font-extrabold underline underline-offset-3 decoration-2">Your
						latest stats</h1>
					<div class="flex justify-evenly m-2">
						<p class="text-2xl font-medium">20 wins</p>
						<p class="text-2xl font-medium">40 losses</p>
					</div>
				</article>
			</section>

			<aside
				class="flex-2/6 px-4 py-3 bg-gray-800 transition-shadow duration-500 hover:inset-ring hover:inset-ring-indigo-600/70 rounded-md">
				<h1 class="text-2xl font-extrabold text-center">Friends</h1>
			</aside>
		</main>
		<%- include('components/footer.ejs') %>
</body>

</html>