<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<link rel="stylesheet" href="/styles/dist/output.css">
	<link rel="shortcut icon" href="/favicon/favicon.png" type="image/x-icon">
</head>

<body class="bg-gray-900 text-white min-h-screen flex flex-col">
	<%- include('components/navbar.ejs') %>
		<main class="flex p-2">
			<article class="flex-3 p-2 bg-gray-800 shadow-sm shadow-blue-600/70 rounded-md">
				<h1>Hola caracola</h1>
			</article>

			<aside class="flex-1">
				<h1>Here we are</h1>
			</aside>
		</main>
		<%- include('components/footer.ejs') %>
</body>

</html>