<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log in</title>
	<link rel="stylesheet" href="/styles/dist/output.css">
	<link rel="shortcut icon" href="/favicon/favicon.png" type="image/x-icon">
</head>

<body class="bg-gray-900 text-white min-h-screen flex flex-col">
	<%- include('components/navbar.ejs') %>
		<main class="flex-grow flex flex-col justify-center relative">
			<%- include('components/errorPopup.ejs') %>
			<form
				class="bg-gray-800 min-w-lg rounded-xl self-center flex flex-col items-center justify-evenly shadow-md my-3 px-4 py-12 gap-3"
				action="/auth/login" method="post">
				<h1 class="text-4xl text-center m-3 font-bold">Log in</h1>
				<fieldset class="flex flex-col justify-center items-center gap-2 w-full p-3">
					<input
						class="bg-gray-900 text-white rounded font-semibold m-2 p-1 w-full text-xl outline-2 outline-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-800"
						type="email" id="email" name="email" placeholder="Email" required autocomplete="email">
					<input
						class="bg-gray-900 text-white rounded font-semibold m-2 p-1 w-full text-xl outline-2 outline-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-800"
						type="password" id="password" name="password" placeholder="Password" required autocomplete="current-password">
				</fieldset>
				<button
					class="bg-blue-800 hover:bg-blue-700 active:bg-blue-900 p-2 rounded-lg transition text-xl w-full">Submit</button>
				<div class="w-full flex items-center gap-2 my-2">
					<hr class="flex-grow border-gray-600">
					<span class="text-gray-400 text-sm">OR</span>
					<hr class="flex-grow border-gray-600">
				</div>
				<a href="/auth/42/login"
					class="bg-gray-700 hover:bg-gray-600 active:bg-gray-800 p-2 rounded-lg transition text-xl w-full text-center block">
					Login with 42
				</a>
				<a class="underline" href="/auth/sign-in">Don't have an account? Sign in</a>
				<a class="underline" href="#">Forgot password?</a>
			</form>
		</main>

</body>

</html>